@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: aliceblue;
}

section {
    background-color: #939797;
    background-image: url("images/bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 300px;
    margin: 0px 0px;
    position: relative;
    padding: 30px 0px 0px 0px;
    background-blend-mode: color-burn;
}

/* navbar  style*/
nav {
    /* background: rgb(0, 153, 153); */
    background: rgb(96 86 168);
    width: 100%;
    height: 70px;
    padding: 0px 20px;
}

/* navbar title style */
nav .title {
    line-height: 70px;
    color: rgb(243, 243, 235);
    font-size: 50px;
    font-family: 'Tangerine', cursive;
}

/* conatiner style */
.conatiner {
    position: relative;
    max-width: 1200px;
    margin: 60px auto;
    padding: 30px;
    /* background-color: #fff; */
    background-color: #ffffff40;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(45, 46, 46, 0.638);
}

/* conatiner form input style */
.conatiner form input {
    padding: 10px 10px 10px 20px;
    width: 80%;
    outline: none;
    font-size: 20px;
    color: rgba(13, 131, 115, 0.992);
    border: 2px solid #1111;
    border-radius: 10px;
    background: #ffffffdb;
}

/* conatiner form input hover style */
.conatiner form input:hover {
    box-shadow: 0px 0px 10px 2px rgba(25, 180, 159, 0.638);
}


/* image-container style */
.image-conatiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    margin-top: 60px;



}

/* image-container image style */
.image-conatiner .image {
    height: 250px;
    width: 350px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;


}

/* image-container image  img style */
.image-conatiner .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .7s linear;
}

/* image-container image:hover img style */
.image-conatiner .image:hover img {
    transform: scale(1.1);
}

/* card  style starts here */
.card {
    background-color: rgb(254, 254, 254);
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 65%);
}

.card .content h2 {
    font-size: 17px;
    color: rgb(201 17 22);
}

.card .content {
    padding: 20px 20px;
    height: 190px;
}

.card .content p {
    margin-top: 6px;
}

.card .content p strong {
    color: #363c83;
}
/* card  style Ends here */

/* button styles */
button {
    padding: 10px 30px;
    border: none;
    font-size: 20px;
    /* background: #009999; */
    background: #3e19adf2;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
    transition: 0.8s;
}

button:hover {
    background-color: #08a9a9d7;
    border: 1px solid #009999;
    color: black;
}

.fas {
    color: #f1dc2a;
    font-size: 18px;
}

/*  media  style*/
@media screen and (max-width:1200px) {
    .conatiner {
        margin: 30px;
    }
}

@media screen and (max-width:844px) {
    .conatiner form input {
        width: 100%;

    }

    @media screen and (max-width:500px) {
        .conatiner {
            margin: 10px;
            padding: 10px;
        }
    }

    button {
        padding: 10px 30px;
        display: block;
        margin: 20px 0px 0px 0px;
        width: 100%;
        border-radius: 10px;
        margin-left: 0px;

    }
}
